body {
    margin: 0;
    padding: 0;
    background: url("images.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 250px;
    background: rgba(255, 255, 255, 0.25);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
}

h2 {
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #444;
    font-size: 15px;
    background: rgba(255,255,255,0.8);
}

.error {
    color: red;
    font-size: 13px;
    margin: -5px 0 5px;
    height: 14px;
}

.btn {
    width: 95%;
    padding: 12px;
    background: #0066ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #0044cc;
}

.forgot {
    display: block;
    margin: 5px 0;
    text-align: right;
    font-size: 12px;
    color: #000;
}

.link {
    margin-top: 10px;
    font-size: 12px;
}
